<div id = "articles">
<h1>Comments</h1>

<a href="<%= @article[0]['url'] %>" class = "link"><%= @article[0]['title'] %></a><span class = "website"> <%= @article[0]['url'] %> </span><br>
  <span class = "points_comments"><%= @article[0]['description']%></span>
  <br><br>



</div>
